if products
  .products
    h4.com-title 供应产品
    #car-result.search-result.product-container
      ul.list-content
        each prod in products
          if prod.type === 1
            - var url = 'http://ev.cpkso.com/cars/' + prod.id
            - var price = '￥' + prod.price + '万'
          if prod.type === 2
            - var url = 'http://ev.cpkso.com/parts/' + prod.id
            - var price = prod.price      
          li.list-item
            .figure
              a(href=url,target='_blank')
                if prod.prompt===1
                  span.recommend-icon
                img(src='#{prod.pic}')
              a.car-logo(href='javascript:;')
                if prod.brand
                  img(src='/brandPath/#{prod.brand}')
            .detail
              if prod.w1===1
                a.desc(href=url,style='text-indent:26px;',target='_blank') #{prod.name}
                  span.hot-icon
              else
                a.desc(href=url,target='_blank') #{prod.name}
              .company-detail
                a.company-name #{prod.company_name}
                  if prod.vip===1
                    span.approve-icon
              .msg
                if prod.price
                  p.price #{price}
                else
                  p.price 暂无价格
                if prod.hot
                  p.view-count 已浏览#{prod.hot}