extends layout

head
  block title
    title #{car.car.name}-车型库、新能源电动车车型大全-产品快搜新能源电动车
    meta(name="keywords", content="#{car.car.name}-低速电动车、电动乘用车、电动三轮车、电动客车、新能源电动车分类、新能源电动车品牌、新能源电动车价格、新能源电动车续航里程")
    meta(name="description", content="#{car.car.name}-产品快搜新能源电动车车型库为您提供各种型号的新能源电动车，囊括了的参数、型号、图片、价格、厂家等信息，是的专业平台，带给您最准确的信息。")
  append link
    link(rel='stylesheet', href="http://ev.cpkso.com/css/searchresult.css")
    link(rel='stylesheet', href="http://ev.cpkso.com/css/detail.css")
    link(rel='stylesheet', href="http://ev.cpkso.com/css/news.css")
    link(rel='stylesheet', href="http://ev.cpkso.com/css/owl.carousel.min.css")
    link(rel='stylesheet', href="http://ev.cpkso.com/css/param_detail.css")
block body
  body(data-spy='scroll',data-target='.myScrollspy')
    header.header
      .header-left
        img(src='/img/search-logo.png', alt='logo')
      block hright
        .header-right
          .search
            input#car-input.search-input(onkeydown="entersearch(1);" type="text" placeholder="请输入车型名称" autocomplete="off" value='#{keyword}')
            a#car-search-btn.search-btn
    include includes/nav.jade
    block content
      .product-head-nav
        ol.breadcrumb
          span.location 当前位置：
          li
              a(href='/',target='_blank') 首页
          li
              a(href='/cars/',target='_blank') 车型库
          li.active #{car.car.name}
      .main-body
        #pdetail.product-intro.clearfix
          .preview-wrapper
            .preview
              .main-img.picZoomer
                img(src='#{car.car.pics[0]}',alt='#{car.car.name}')
              .spec-list
                .spec-items.J-img-list
                  ul#owl-sm.owl-carousel
                    each pic in car.car.pics
                      li.item
                        img(src='#{pic}',alt='#{car.car.name}')
          .item-info-wrapper
            .header-wrapper
              .product-name #{car.car.name}
            .guide-price
              .dt 新车指导价：
                if car.car.params[0]&&car.car.params[0].price
                  span.price ￥#{car.car.params[0].price}万
                else
                  span.price 暂无价格
              .dd 已有
                span.view-count #{car.car.hot}
                人浏览
            .company.li
              .dt 公司
              .dd #{car.car.company.name}
                if car.car.company.vip===1
                  span
            .choose-type.li
              .dt 车型配置
              #choose.dd
                ul
                  each param,index in car.car.params
                    if index===0
                      li.selected(data-price=param.price)
                        a(href='javascript:;') #{param.car_model}
                    else
                      li(data-price=param.price)
                        a(href='javascript:;') #{param.car_model}
            .contact.li
              .dt 联系人
              if car.car.company.charge
                .dd #{car.car.company.charge}
              else
                .dd 暂无
            .address.li
              .dt 地址
              if car.car.company.address
                .dd #{car.car.company.address}
              else
                .dd 暂无
            .service
              if car.car.company.url
                a.span.website(href='#{car.car.company.url}',rel='nofollow',target='_blank') 官网
              a.span.home(href='/companies/#{car.car.company.id}',target='_blank') 企业库
              if car.car.company.contact||car.car.company.contact2
                a.span.tel(href='javascript:;') 联系方式
                  span #{car.car.company.contact}  #{car.car.company.contact2}
        .content-container
          .content-left
            .product-container
              ul.nav.nav-tabs
                li.active
                  a(href='#product-detail',data-toggle='tab') 产品详情
                li
                  a(href='#product-config',data-toggle='tab') 参数配置
              .tab-content
                #product-detail.tab-pane.active
                  div!= car.car.detail
                #product-config.tab-pane                
                  div(style='width:920px;')
                    form#filter.param-filter.wrap(action='http://ev.cpkso.com/admin/param_findParamTables',method='post',enctype='multipart/form-data')
                    .nav.select-wrap.wrap
                      .myScrollspy
                        .nav(data-spy='affix',data-offset-top='932',style='width:920px;')
                          table#headerTable.compare-param-select
                    .param-wrap.wrap
                      .myScrollspy
                        .compare-param-menu-wrap.nav(data-spy='affix',data-offset-top='1320',data-offset-bottom='360')
                          ul#site-nav.compare-param-menu
                            li.active
                              a(href='#price-msg') 报价信息
                            li
                              a(href='#base-msg') 基本参数
                            li
                              a(href='#body-msg') 车身参数
                            li
                              a(href='#motor-msg') 发动机
                            li
                              a(href='#battery-msg') 电机/电池
                            li
                              a(href='#box-msg') 变速箱
                            li
                              a(href='#underpan-msg') 底盘转向
                            li
                              a(href='#wheel-msg') 车轮制动
                            li
                              a(href='#safe-msg') 安全/操控
                            li
                              a(href='#outlook-msg') 外观配置
                            li
                              a(href='#decoration-msg') 内饰配置
                            li
                              a(href='#chair-msg') 座椅配置
                            li
                              a(href='#media-msg') 多媒体配置
                            li
                              a(href='#interactive-msg') 人机交互
                            li
                              a(href='#tech-msg') 高科技配置
                            li
                              a(href='#color') 颜色
                      .compare-param-content.wrap(style='visibility:visible;')
                        section(style='width:920px;')
                          header
                            h3#price-msg 报价信息
                          table#priceTable
                        section(style='width:920px;')
                          header
                            h3#base-msg 基本参数
                          table#baseTable
                        section(style='width:920px;')
                          header
                            h3#body-msg 车身参数
                          table#bodyTable
                        section(style='width:920px;')
                          header
                            h3#motor-msg 发动机
                          table#motorTable
                        section(style='width:920px;')
                          header
                            h3#battert-msg 电机/电池
                          table#battertTable
                        section(style='width:920px;')
                          header
                            h3#box-msg 变速箱
                          table#boxTable
                        section(style='width:920px;')
                          header
                            h3#underpan-msg 底盘转向
                          table#underpanTable
                        section(style='width:920px;')
                          header
                            h3#wheel-msg 车轮制动
                          table#wheelTable
                        section(style='width:920px;')
                          header
                            h3#safe-msg 安全/操控
                          table#safeTable
                        section(style='width:920px;')
                          header
                            h3#outlook-msg 外观配置
                          table#outlookTable
                        section(style='width:920px;')
                          header
                            h3#decoration-msg 内饰配置
                          table#decorationTable
                        section(style='width:920px;')
                          header
                            h3#chair-msg 座椅配置
                          table#chairTable
                        section(style='width:920px;')
                          header
                            h3#media-msg 多媒体配置
                          table#mediaTable
                        section(style='width:920px;')
                          header
                            h3#interactive-msg 人机交互
                          table#interactiveTable
                        section(style='width:920px;')
                          header
                            h3#tech-msg 高科技配置
                          table#techTable
                        section(style='width:920px;')
                          header
                            h3#color-msg 颜色
                          table#colorTable
    include includes/footer.jade
    block script
      script(src='http://ev.cpkso.com/js/lib/jquery-2.0.0.min.js')
      script(src='http://ev.cpkso.com/js/lib/bootstrap.min.js')
      script(src='http://ev.cpkso.com/js/lib/jquery.form.js')
      script(src='http://ev.cpkso.com/js/lib/owl.carousel.min.js')
      script(src='http://ev.cpkso.com/js/lib/mustache.min.js')
      script.
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?6c4119bd6ed6dca0c77afc24f4b663aa";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
      script.
        $(document).ready(function() {
          $('#owl-sm').owlCarousel({
            items: 5,
            navigation: true,
            navigationText: ["", ""],
            responsive: false
          });
          var postUrl = 'http://ev.cpkso.com/admin/car_singleById?car.id=' + #{car.car.id} ;
          $.ajax({
            url: postUrl,
            type: 'POST',
            dataType: 'json',
            async: false
          })
          .done(function(data) {
            var modelData = data.response.data.car;
            var filterTpl = '{{#params}}<label><input class="car-type" name="param_ids" type="checkbox" value="{{id}}">{{car_model}}</label>{{/params}}';
            var filterHtml = Mustache.render(filterTpl, modelData);
            $('#filter').html(filterHtml);
            var carType = $("input.car-type");

            for (var i = 0; i < 3; i++) {
              $(carType[i]).attr('checked', true);
            }
            $("input.car-type").attr('disabled', true);
            if ($("input.car-type:checked").length >= 3) {
              $("input.car-type:checked").attr('disabled', false);
            } else {
              $("input.car-type").attr('disabled', false);
            };
            $('input[type=checkbox]').click(function() {
              $("input.car-type").attr('disabled', true);
              if ($("input.car-type:checked").length >= 3) {
                $("input.car-type:checked").attr('disabled', false);
              } else {
                $("input.car-type").attr('disabled', false);
              }
            });

            $('.J-img-list li').hover(function(event) {
              var $pic = $(this).find('img');
              $('.main-img img').attr('src', $pic.attr('src'));
            });
            $('#choose li').click(function() {
              var $this = $(this);
              var price = $this.attr('data-price') ? '￥' + $this.attr('data-price') + '万' : '暂无价格';
              $this.siblings().removeClass('selected');
              $this.addClass('selected');
              $('#pdetail .price').html(price);
            })
          });
        });
        $(window).load(function() {
          $('#filter').submit(function() {
            $(this).ajaxSubmit({
              success: function(data) {
                var headerTpl = '<tbody><tr><td class="first-td"><div class="param-detail-head"><div class="param-detail-data clearfix"><p><i class="icon-large">●</i> 标配</p><p><i class="icon-large">○</i> 选配</p><p><i class="icon-large">-</i> 无</p></div></div></td>{{#data}}<td><div class="select-box-active"><div class="select-info"><p class="car-name">{{param_table.car_model}}</p><p class="car-price">{{#param_table.price}}参考价：¥ {{/param_table.price}}{{param_table.price}}{{#param_table.price}}万{{/param_table.price}}</p></div></div></td>{{/data}}</tr></tbody>';
                var priceTpl = '<tbody><tr class="param-same-tr"><td class="first-td">厂商报价(万)</td>{{#data}}<td>{{param_table.price}}</td>{{/data}}</tr><tr><td class="first-td">补贴后参考价(万)</td>{{#data}}<td>{{param_table.after_subsidy}}</td>{{/data}}</tr><tr><td class="first-td">国家补贴(万)</td>{{#data}}<td>{{param_table.subsidy}}</td>{{/data}}</tr><tr><td class="first-td">地方补贴(万)</td>{{#data}}<td>{{param_table.subsidy_local}}</td>{{/data}}</tr><tr><td class="first-td">厂商补贴(万)</td>{{#data}}<td>{{param_table.subsidy_factory}}</td>{{/data}}</tr><tr><td class="first-td">总补贴(万)</td>{{#data}}<td>{{param_table.subsidy_total}}</td>{{/data}}</tr></tbody>';
                var baseTpl = '<tbody><tr class="param-same-tr"><td class="first-td">厂商</td>{{#data}}<td>{{厂商}}</td>{{/data}}</tr><tr><td class="first-td">品牌</td>{{#data}}<td>{{品牌}}</td>{{/data}}</tr><tr><td class="first-td">级别</td>{{#data}}<td>{{级别}}</td>{{/data}}</tr><tr><td class="first-td">车型分类</td>{{#data}}<td>{{车型分类}}</td>{{/data}}</tr><tr><td class="first-td">长*宽*高(mm)</td>{{#data}}<td>{{长*宽*高mm}}</td>{{/data}}</tr><tr><td class="first-td">系统总功率(kW)</td>{{#data}}<td>{{param_table.max_power}}</td>{{/data}}</tr><tr><td class="first-td">系统总扭矩(N·m)</td>{{#data}}<td>{{系统总扭矩Nm}}</td>{{/data}}</tr><tr><td class="first-td">纯电续航km</td>{{#data}}<td>{{纯电续航km}}</td>{{/data}}</tr><tr><td class="first-td">慢充时间(h)</td>{{#data}}<td>{{慢充时间h}}</td>{{/data}}</tr><tr><td class="first-td">快充时间(h)</td>{{#data}}<td>{{快充时间h}}</td>{{/data}}</tr><tr><td class="first-td">工信部综合油耗(L/100km)</td>{{#data}}<td>{{工信部综合油耗L/100km}}</td>{{/data}}</tr><tr><td class="first-td">最高车速(km/h)</td>{{#data}}<td>{{param_table.max_speed}}</td>{{/data}}</tr><tr><td class="first-td">官方0-100Km加速时间(s)</td>{{#data}}<td>{{param_table.accelerate}}</td>{{/data}}</tr><tr><td class="first-td">实测续航里程(km)</td>{{#data}}<td>{{param_table.mile}}</td>{{/data}}</tr><tr><td class="first-td">实测满电时间(h)</td>{{#data}}<td>{{实测满电时间h}}</td>{{/data}}</tr><tr><td class="first-td">实测0-100Km/h加速时间(s)</td>{{#data}}<td>{{param_table.accelerate}}</td>{{/data}}</tr><tr><td class="first-td">实测100Km/h-0制动距离(m)</td>{{#data}}<td>{{实测100Km/h-0制动距离m}}</td>{{/data}}</tr><tr><td class="first-td">整车质保</td>{{#data}}<td>{{整车质保}}</td>{{/data}}</tr><tr><td class="first-td">电池质保</td>{{#data}}<td>{{电池质保}}</td>{{/data}}</tr><tr><td class="first-td">保养周期(月/公里)</td>{{#data}}<td>{{保养周期月/公里}}</td>{{/data}}</tr><tr><td class="first-td">首保里程(km)</td>{{#data}}<td>{{首保里程km}}</td>{{/data}}</tr><tr><td class="first-td">免费保养政策</td>{{#data}}<td>{{免费保养政策}}</td>{{/data}}</tr></tbody>';
                var bodyTpl = '<tbody><tr><td class="first-td">长(mm)</td>{{#data}}<td>{{长mm}}</td>{{/data}}</tr><tr><td class="first-td">宽(mm)</td>{{#data}}<td>{{宽mm}}</td>{{/data}}</tr><tr><td class="first-td">高(mm)</td>{{#data}}<td>{{高mm}}</td>{{/data}}</tr><tr><td class="first-td">轴距(mm)</td>{{#data}}<td>{{轴距mm}}</td>{{/data}}</tr><tr><td class="first-td">前轮距(mm)</td>{{#data}}<td>{{前轮距mm}}</td>{{/data}}</tr><tr><td class="first-td">后轮距(mm)</td>{{#data}}<td>{{后轮距mm}}</td>{{/data}}</tr><tr><td class="first-td">整备质量(kg)</td>{{#data}}<td>{{整备质量kg}}</td>{{/data}}</tr><tr><td class="first-td">最小转弯半径(m)</td>{{#data}}<td>{{最小转弯半径m}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">最大爬坡角(°)</td>{{#data}}<td>{{最大爬坡角}}</td>{{/data}}</tr><tr><td class="first-td">最小离地间隙(mm)</td>{{#data}}<td>{{最小离地间隙mm}}</td>{{/data}}</tr><tr><td class="first-td">车身结构</td>{{#data}}<td>{{车身结构}}</td>{{/data}}</tr><tr><td class="first-td">车门数</td>{{#data}}<td>{{车门数}}</td>{{/data}}</tr><tr><td class="first-td">座位数</td>{{#data}}<td>{{座位数}}</td>{{/data}}</tr><tr><td class="first-td">油箱容积(L)</td>{{#data}}<td>{{油箱容积L}}</td>{{/data}}</tr><tr><td class="first-td">行李箱容积(L)</td>{{#data}}<td>{{行李箱容积L}}</td>{{/data}}</tr></tbody>';
                var motorTpl = '<tbody><tr class="advantage-big param-same-tr"><td class="first-td">发动机排量(ml)</td>{{#data}}<td>{{发动机排量ml}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">工作方式</td>{{#data}}<td>{{工作方式}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">气缸排列结构</td>{{#data}}<td>{{气缸排列结构}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">气缸数</td>{{#data}}<td>{{气缸数}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">每气缸气门数(个)</td>{{#data}}<td>{{每气缸气门数个}}</td>{{/data}}</tr><tr><td class="first-td">压缩比</td>{{#data}}<td>{{压缩比}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">气门结构</td>{{#data}}<td>{{气门结构}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">最大马力(Ps)</td>{{#data}}<td>{{最大马力Ps}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">最大功率(Kw)</td>{{#data}}<td>{{最大功率Kw}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">最大功率转速(rpm)</td>{{#data}}<td>{{最大功率转速rpm}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">最大扭矩(Nm)</td>{{#data}}<td>{{最大扭矩Nm}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">最大扭矩转速(rpm)</td>{{#data}}<td>{{最大扭矩转速rpm}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">环保标准</td>{{#data}}<td>{{环保标准}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">燃油标号</td>{{#data}}<td>{{燃油标号}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">供油方式</td>{{#data}}<td>{{供油方式}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">缸体材料</td>{{#data}}<td>{{缸体材料}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">自动启停</td>{{#data}}<td>{{自动启停}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">动能回收</td>{{#data}}<td>{{动能回收}}</td>{{/data}}</tr></tbody>';
                var batteryTpl = '<tbody><tr class="param-same-tr"><td class="first-td">电机类型</td>{{#data}}<td>{{电机类型}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">电动机最大功率(kW)</td>{{#data}}<td>{{电动机最大功率kW}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">电动机最大扭矩(N·m)</td>{{#data}}<td>{{电动机最大扭矩Nm}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">前电机最大功率(kW)</td>{{#data}}<td>{{config.gui}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">前电机最大扭矩(N·m)</td>{{#data}}<td>{{前电机最大扭矩Nm}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">后电机最大功率(kW)</td>{{#data}}<td>{{后电机最大功率kW}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">后电机最大扭矩(N·m)</td>{{#data}}<td>{{后电机最大扭矩Nm}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">驱动电机个数</td>{{#data}}<td>{{驱动电机个数}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">电机布局</td>{{#data}}<td>{{电机布局}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">混动方式</td>{{#data}}<td>{{混动方式}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">驱动模式</td>{{#data}}<td>{{驱动模式}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">电池类型</td>{{#data}}<td>{{电池类型}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">电池容量(kW·h)</td>{{#data}}<td>{{param_table.battery_capacity}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">续航里程(Km)</td>{{#data}}<td>{{续航里程Km}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">快充电量(%)</td>{{#data}}<td>{{快充电量%}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">百公里耗电量(KWh/100km)</td>{{#data}}<td>{{百公里耗电量KWh/100km}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">支持家用电压充电</td>{{#data}}<td>{{支持家用电压充电}}</td>{{/data}}</tr></tbody>';
                var boxTpl = '<tbody><tr class="param-same-tr"><td class="first-td">变速箱类型</td>{{#data}}<td>{{变速箱类型}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">档位数</td>{{#data}}<td>{{档位数}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">驾驶模式</td>{{#data}}<td>{{驾驶模式}}</td>{{/data}}</tr></tbody>';
                var underpanTpl = '<tbody><tr class="param-same-tr"><td class="first-td">驱动形式</td>{{#data}}<td>{{驱动形式}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">助力形式</td>{{#data}}<td>{{助力形式}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">前悬挂类型</td>{{#data}}<td>{{前悬挂类型}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">后悬挂类型</td>{{#data}}<td>{{后悬挂类型}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">车身结构(底盘方向)</td>{{#data}}<td>{{车身结构底盘方向}}</td>{{/data}}</tr></tbody>';
                var wheelTpl = '<tbody><tr class="param-same-tr"><td class="first-td">前轮制动装置</td>{{#data}}<td>{{前轮制动装置}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">后轮制动装置</td>{{#data}}<td>{{后轮制动装置}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">驻车制动器</td>{{#data}}<td>{{驻车制动器}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">前轮胎规格</td>{{#data}}<td>{{前轮胎规格}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">后轮胎规格</td>{{#data}}<td>{{后轮胎规格}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">轮毂材质</td>{{#data}}<td>{{轮毂材质}}</td>{{/data}}</tr></tbody>';
                var safeTpl = '<tbody><tr class="param-same-tr"><td class="first-td">主/副驾驶座安全气囊</td>{{#data}}<td>{{主/副驾驶座安全气囊}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">前/后排头部安全气囊</td>{{#data}}<td>{{前/后排头部安全气囊}}</td>{{/data}}</tr><tr class="param-diff-tr"><td class="first-td">前/后排侧气囊</td>{{#data}}<td>{{前/后排侧气囊}}</td>{{/data}}</tr><tr class="param-diff-tr"><td class="first-td">膝部气囊</td>{{#data}}<td>{{膝部气囊}}</td>{{/data}}</tr><tr class="param-diff-tr"><td class="first-td">行人保护气囊</td>{{#data}}<td>{{行人保护气囊}}</td>{{/data}}</tr><tr class="param-diff-tr"><td class="first-td">副驾气囊开关</td>{{#data}}<td>{{副驾气囊开关}}</td>{{/data}}</tr><tr class="param-diff-tr"><td class="first-td">胎压监测</td>{{#data}}<td>{{胎压监测}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">主/副驾驶座安全带未系提醒</td>{{#data}}<td>{{主/副驾驶座安全带未系提醒}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">燃爆式安全带</td>{{#data}}<td>{{燃爆式安全带}}</td>{{/data}}</tr><tr class="param-diff-tr"><td class="first-td">后排气囊安全带</td>{{#data}}<td>{{后排气囊安全带}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">车内中控锁</td>{{#data}}<td>{{车内中控锁}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">ISOFIX儿童安全座椅接口</td>{{#data}}<td>{{ISOFIX儿童安全座椅接口}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">LATCH儿童安全座椅接口</td>{{#data}}<td>{{LATCH儿童安全座椅接口}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">前排主动头枕</td>{{#data}}<td>{{前排主动头枕}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">前/后驻车雷达</td>{{#data}}<td>{{前/后驻车雷达}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">倒车影像</td>{{#data}}<td>{{倒车影像}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">全景摄像头</td>{{#data}}<td>{{全景摄像头}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">行李箱逃逸功能</td>{{#data}}<td>{{行李箱逃逸功能}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">ABS防抱死</td>{{#data}}<td>{{ABS防抱死}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">制动力分配(EBD/CBC等)</td>{{#data}}<td>{{制动力分配EBD/CBC等}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">刹车辅助(EBA/BAS/BA等)</td>{{#data}}<td>{{刹车辅助EBA/BAS/BA等}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">牵引力控制(ASR/TCS等)</td>{{#data}}<td>{{牵引力控制ASR/TCS等}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">车身稳定控制(ESP/ESC/DSC等)</td>{{#data}}<td>{{车身稳定控制ESP/ESC/DSC等}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">自动驻车</td>{{#data}}<td>{{自动驻车}}{{/data}}</tr><tr class="param-same-tr"><td class="first-td">上坡辅助</td>{{#data}}<td>{{上坡辅助}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">陡坡缓降</td>{{#data}}<td>{{陡坡缓降}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">主动转向系统</td>{{#data}}<td>{{主动转向系统}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">主动防侧倾系统</td>{{#data}}<td>{{主动防侧倾系统}}</td>{{/data}}</tr></tbody>';
                var outlookTpl = '<tbody><tr class="param-same-tr"><td class="first-td">电动天窗</td>{{#data}}<td>{{电动天窗}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">全景天窗</td>{{#data}}<td>{{全景天窗}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">前/后电动车窗</td>{{#data}}<td>{{前/后电动车窗}}</td>{{/data}}</tr><tr class="param-diff-tr"><td class="first-td">防紫外线玻璃</td>{{#data}}<td>{{防紫外线玻璃}}</td>{{/data}}</tr><tr class="param-diff-tr"><td class="first-td">隔热玻璃</td>{{#data}}<td>{{隔热玻璃}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">车窗防夹功能</td>{{#data}}<td>{{车窗防夹功能}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">后窗遮阳帘</td>{{#data}}<td>{{后窗遮阳帘}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">后风挡遮阳帘</td>{{#data}}<td>{{后风挡遮阳帘}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">后风挡加热</td>{{#data}}<td>{{后风挡加热}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">后排隐私玻璃</td>{{#data}}<td>{{后排隐私玻璃}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">感应雨刷</td>{{#data}}<td>{{感应雨刷}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">后雨刷</td>{{#data}}<td>{{后雨刷}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">运动外观套件</td>{{#data}}<td>{{运动外观套件}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">电动吸合门</td>{{#data}}<td>{{电动吸合门}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">行李架</td>{{#data}}<td>{{行李架}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">后视镜电动调节</td>{{#data}}<td>{{后视镜电动调节}}</td>{{/data}}</tr><tr class="param-diff-tr"><td class="first-td">后视镜加热</td>{{#data}}<td>{{后视镜加热}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">后视镜电动折叠</td>{{#data}}<td>{{后视镜电动折叠}}</td>{{/data}}</tr><tr class="param-diff-tr"><td class="first-td">后视镜记忆</td>{{#data}}<td>{{后视镜记忆}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">外后视镜自动防眩目</td>{{#data}}<td>{{外后视镜自动防眩目}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">卤素大灯</td>{{#data}}<td>{{卤素大灯}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">氙气大灯</td>{{#data}}<td>{{氙气大灯}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">激光大灯</td>{{#data}}<td>{{激光大灯}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">LED前大灯</td>{{#data}}<td>{{LED前大灯}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">自适应远近光</td>{{#data}}<td>{{自适应远近光}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">自动头灯</td>{{#data}}<td>{{自动头灯}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">延迟关闭</td>{{#data}}<td>{{延迟关闭}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">转向辅助灯</td>{{#data}}<td>{{转向辅助灯}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">大灯随动转向</td>{{#data}}<td>{{大灯随动转向}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">日间行车灯</td>{{#data}}<td>{{日间行车灯}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">大灯高度可调</td>{{#data}}<td>{{大灯高度可调}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">大灯清洗装置</td>{{#data}}<td>{{大灯清洗装置}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">前雾灯</td>{{#data}}<td>{{前雾灯}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">LED尾灯</td>{{#data}}<td>{{LED尾灯}}</td>{{/data}}</tr></tbody>';
                var decorationTpl = '<tbody><tr class="param-same-tr"><td class="first-td">真皮方向盘</td>{{#data}}<td>{{真皮方向盘}}</td>{{/data}}</tr><tr class="param-diff-tr"><td class="first-td">方向盘电动调节</td>{{#data}}<td>{{方向盘电动调节}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">方向盘上下/前后调节</td>{{#data}}<td>{{方向盘上下/前后调节}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">多功能方向盘</td>{{#data}}<td>{{多功能方向盘}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">换挡拨片</td>{{#data}}<td>{{换挡拨片}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">方向盘加热</td>{{#data}}<td>{{方向盘加热}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">无钥匙进入</td>{{#data}}<td>{{无钥匙进入}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">无钥匙启动</td>{{#data}}<td>{{无钥匙启动}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">遮阳板化妆镜</td>{{#data}}<td>{{遮阳板化妆镜}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">化妆镜照明</td>{{#data}}<td>{{化妆镜照明}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">后排化妆镜</td>{{#data}}<td>{{后排化妆镜}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">定速巡航</td>{{#data}}<td>{{定速巡航}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">行车电脑显示屏</td>{{#data}}<td>{{行车电脑显示屏}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">HUD抬头显示</td>{{#data}}<td>{{HUD抬头显示}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">全液晶仪表盘</td>{{#data}}<td>{{全液晶仪表盘}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">自动空调</td>{{#data}}<td>{{自动空调}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">温度分区控制</td>{{#data}}<td>{{温度分区控制}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">后排独立空调</td>{{#data}}<td>{{后排独立空调}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">后排出风口</td>{{#data}}<td>{{后排出风口}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">空气净化/花粉过滤</td>{{#data}}<td>{{空气净化/花粉过滤}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">内后视镜自动防眩目</td>{{#data}}<td>{{内后视镜自动防眩目}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">车内氛围灯</td>{{#data}}<td>{{车内氛围灯}}</td>{{/data}}</tr></tbody>';
                var chairTpl = '<tbody><tr class="param-same-tr"><td class="first-td">皮质座椅</td>{{#data}}<td>{{皮质座椅}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">运动座椅</td>{{#data}}<td>{{运动座椅}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">前排座椅靠背角度调节</td>{{#data}}<td>{{前排座椅靠背角度调节}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">腰部支撑调节</td>{{#data}}<td>{{腰部支撑调节}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">肩部支撑调节</td>{{#data}}<td>{{肩部支撑调节}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">主/副驾驶座电动调节</td>{{#data}}<td>{{主/副驾驶座电动调节}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">第二排座椅靠背角度调节</td>{{#data}}<td>{{第二排座椅靠背角度调节}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">第二排座椅移动</td>{{#data}}<td>{{第二排座椅移动}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">第二排座椅电动调节</td>{{#data}}<td>{{第二排座椅电动调节}}</td>{{/data}}</tr><tr class="param-diff-tr"><td class="first-td">主驾电动座椅记忆</td>{{#data}}<td>{{主驾电动座椅记忆}}</td>{{/data}}</tr><tr class="param-diff-tr"><td class="first-td">前/后排座椅加热</td>{{#data}}<td>{{前/后排座椅加热}}</td>{{/data}}</tr><tr class="param-diff-tr"><td class="first-td">前/后排座椅通风</td>{{#data}}<td>{{前/后排座椅通风}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">前后排座椅按摩</td>{{#data}}<td>{{前后排座椅按摩}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">后排座椅放倒</td>{{#data}}<td>{{后排座椅放倒}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">前/后排腿部支撑</td>{{#data}}<td>{{前/后排腿部支撑}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">一体式儿童安全座椅</td>{{#data}}<td>{{一体式儿童安全座椅}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">前/后排中央扶手</td>{{#data}}<td>{{前/后排中央扶手}}</td>{{/data}}</tr><tr class="param-diff-tr"><td class="first-td">后排杯架</td>{{#data}}<td>{{后排杯架}}</td>{{/data}}</tr><tr class="param-diff-tr"><td class="first-td">一体式前排头枕</td>{{#data}}<td>{{一体式前排头枕}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">第二排中央头枕</td>{{#data}}<td>{{第二排中央头枕}}</td>{{/data}}</tr></tbody>';
                var mediaTpl = '<tbody><tr class="param-same-tr"><td class="first-td">扬声器品牌</td>{{#data}}<td>{{扬声器品牌}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">扬声器数量(个)</td>{{#data}}<td>{{扬声器数量}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">单碟CD</td>{{#data}}<td>{{单碟CD}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">多碟CD</td>{{#data}}<td>{{多碟CD}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">中控彩色屏幕</td>{{#data}}<td>{{中控彩色屏幕}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">GPS导航</td>{{#data}}<td>{{GPS导航}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">蓝牙/车载电话</td>{{#data}}<td>{{蓝牙/车载电话}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">车载电视</td>{{#data}}<td>{{车载电视}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">内置硬盘</td>{{#data}}<td>{{内置硬盘}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">后排液晶屏</td>{{#data}}<td>{{后排液晶屏}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">音频接口</td>{{#data}}<td>{{音频接口}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">DVD系统</td>{{#data}}<td>{{DVD系统}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">车载电源220v</td>{{#data}}<td>{{车载电源220v}}</td>{{/data}}</tr></tbody>';
                var interactiveTpl = '<tbody><tr class="param-same-tr"><td class="first-td">系统名称</td>{{#data}}<td>{{系统名称}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">远程救援</td>{{#data}}<td>{{远程救援}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">语音控制</td>{{#data}}<td>{{语音控制}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">无线上网/WIFI热点</td>{{#data}}<td>{{无线上网/WIFI热点}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">手机控制</td>{{#data}}<td>{{手机控制}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">定位防盗</td>{{#data}}<td>{{定位防盗}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">人工导航</td>{{#data}}<td>{{人工导航}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">车辆检测</td>{{#data}}<td>{{车辆检测}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">特有功能</td>{{#data}}<td>{{特有功能}}</td>{{/data}}</tr></tbody>';
                var techTpl = '<tbody><tr class="param-same-tr"><td class="first-td">自动泊车入位</td>{{#data}}<td>{{自动泊车入位}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">并线辅助</td>{{#data}}<td>{{并线辅助}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">车道偏离预警系统</td>{{#data}}<td>{{车道偏离预警系统}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">主动刹车</td>{{#data}}<td>{{主动刹车}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">整体主动转向系统</td>{{#data}}<td>{{整体主动转向系统}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">夜视系统</td>{{#data}}<td>{{夜视系统}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">中控液晶屏多屏显示</td>{{#data}}<td>{{中控液晶屏多屏显示}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">自适应巡航</td>{{#data}}<td>{{自适应巡航}}</td>{{/data}}</tr><tr class="param-same-tr"><td class="first-td">右前方盲区监测</td>{{#data}}<td>{{右前方盲区监测}}</td>{{/data}}</tr></tbody>';
                var colorTpl = '<tbody><tr class="param-same-tr"><td class="first-td">外观颜色</td>{{#data}}<td>{{color_name}}</td>{{/data}}</tr></tbody>';

                tableRender(headerTpl, data, $('#headerTable'));
                tableRender(priceTpl, data, $('#priceTable'));
                tableRender(baseTpl, data, $('#baseTable'));
                tableRender(bodyTpl, data, $('#bodyTable'));
                tableRender(motorTpl, data, $('#motorTable'));
                tableRender(batteryTpl, data, $('#batteryTable'));
                tableRender(boxTpl, data, $('#boxTable'));
                tableRender(underpanTpl, data, $('#underpanTable'));
                tableRender(wheelTpl, data, $('#wheelTable'));
                tableRender(safeTpl, data, $('#safeTable'));
                tableRender(outlookTpl, data, $('#outlookTable'));
                tableRender(decorationTpl, data, $('#decorationTable'));
                tableRender(chairTpl, data, $('#chairTable'));
                tableRender(mediaTpl, data, $('#mediaTable'));
                tableRender(interactiveTpl, data, $('#interactiveTable'));
                tableRender(techTpl, data, $('#techTable'));
                tableRender(colorTpl, data, $('#colorTable'));
              }
            });
            return false;
          });
          $('#filter').submit();
          $('input.car-type').change(function() {
            $('#filter').submit();
          })
        })

        function tableRender(tpl, data, el) {
          var response = data.response;
          var emptyParams = [];
          var empty = {};
          if (response.data === null) {
            response.data = emptyParams;
          }
          while (response.data.length < 3) {
            response.data.push(empty);
          };
          for (var i = 0; i < data.length; i++) {
            response.data[i].color_name = response.data[i].param_table ? response.data[i].param_table.car.color_name : '';
          }
          var content = Mustache.render(tpl,response);
          el.html(content);
        }
        function tplRender(tpl, data, el) {
          var data = data.response;
          var content = Mustache.render(tpl, data);
          el.html(content);
        }
        $('#car-search-btn').click(function(){
          var word = $('#car-input').val();
          var url = word ? '/cars/search/0-0-0-0-0-0-1?word=' + word : '/cars/search/0-0-0-0-0-0-1';
          window.open(url);
        })
        function entersearch(id){
          var event = window.event || arguments.callee.caller.arguments[0];
          if (event.keyCode == 13 && id === 1) {
            $('#car-search-btn').trigger('click');
          } else if (event.keyCode == 13 && id === 2) {
            $('#part-search-btn').trigger('click');
          }
        }
