extends layout

block title
  title= '车型库、新能源电动车车型大全-产品快搜新能源电动车'
  meta(name="keywords", content="低速电动车、电动乘用车、电动三轮车、电动客车、新能源电动车分类、新能源电动车品牌、新能源电动车价格、新能源电动车续航里程")
  meta(name="description", content="产品快搜新能源电动车车型库为您提供各种型号的新能源电动车，囊括了的参数、型号、图片、价格、厂家等信息，是的专业平台，带给您最准确的信息。")
append link
  link(rel='stylesheet', href="http://ev.cpkso.com/css/searchresult.css")
block hright
  .header-right
    .search
      input#car-input.search-input(onkeydown="entersearch(1);" type="text" placeholder="请输入车型名称" autocomplete="off" value='#{keyword}')
      a#car-search-btn.search-btn
block content
  .product-head-nav
    ol.breadcrumb
      span.location 当前位置：
      li
        a(href='/',target='_blank') 首页
      li.active 车型库
  .main-body
    #filter.category
      dl#category.category-list.clearfix
        dt.title 分类：
        .category-item
          if ids[0] === '0'
            a.choose-all.choose-on(href='javascript:;') 不限
          else
            a.choose-all(href='/cars/search/0-#{ids[1]}-#{ids[2]}-#{ids[3]}-0-0-1#{querystr}') 不限
          each ct in ct2
            if ct.id === +ids[0]
              a.choose-on(href='javascript:;') #{ct.name}
            else
              a(href='/cars/search/#{ct.id}-#{ids[1]}-#{ids[2]}-#{ids[3]}-0-0-1#{querystr}') #{ct.name}
      #categoryBrand.category-list.clearfix
        dt.title 品牌：
        if ids[1] === '0'
          a.choose-all.choose-on(href='javascript:;') 不限
        else
          a.choose-all(href='/cars/search/#{ids[0]}-0-#{ids[2]}-#{ids[3]}-#{ids[4]}-#{ids[5]}-1#{querystr}') 不限
        #firstLetters.brand-ident
          ul
            each brand,index in brands
              - var letter = brands.letter
              - var upper = brand.initial.toUpperCase()
              - var lower = brand.initial
              li(class={active: lower===letter || (!letter&&index===0)})
                a(href='#brand'+upper,data-toggle='enter',onclick='return false;')=upper
        #tabcontent.tab-content
          each brand,index in brands
            - var letter = brands.letter
            - var upper = brand.initial.toUpperCase()
            - var lower = brand.initial
            .tab-pane.brand-list(id='brand'+upper,class={active: lower===letter || (!letter&&index===0)})
              if brand.array
                each lbrand in brand.array
                  if lbrand.id === +ids[1]
                    a.choose-on(href='javascript:;') #{lbrand.brand}
                  else
                    a(href='/cars/search/#{ids[0]}-#{lbrand.id}-#{ids[2]}-#{ids[3]}-#{ids[4]}-#{ids[5]}-1#{querystr}') #{lbrand.brand}
      dl#categoryPrice.category-list.clearfix
        dt.title 价格：
        dd.category-item
          if ids[2] === '0'
            a.choose-all.choose-on(href='javascript:;') 不限
          else
            a.choose-all(href='/cars/search/#{ids[0]}-#{ids[1]}-0-#{ids[3]}-#{ids[4]}-#{ids[5]}-1#{querystr}') 不限
          each price in prices
            if price.id === +ids[2]
              a.choose-on(href='javascript:;') #{price.name}
            else
              a(href='/cars/search/#{ids[0]}-#{ids[1]}-#{price.id}-#{ids[3]}-#{ids[4]}-#{ids[5]}-1#{querystr}') #{price.name}
      dl#categoryMile.category-list.clearfix
        dt.title 续航：
        dd.category-item
          if ids[3] === '0'
            a.choose-all.choose-on(href='javascript:;') 不限
          else
            a.choose-all(href='/cars/search/#{ids[0]}-#{ids[1]}-#{ids[2]}-0-#{ids[4]}-#{ids[5]}-1#{querystr}') 不限
          each mile in miles
            if mile.id === +ids[3]
              a.choose-on(href='javascript:;') #{mile.name}
            else
              a(href='/cars/search/#{ids[0]}-#{ids[1]}-#{ids[2]}-#{mile.id}-#{ids[4]}-#{ids[5]}-1#{querystr}') #{mile.name}
      if ids[0] === '3'
        dl#categoryType.category-list.clearfix
          dt.title 类型：
          dd.category-item
            if ids[4] === '0'
              a.choose-all.choose-on(href='javascript:;') 不限
            else
              a.choose-all(href='/cars/search/3-#{ids[1]}-#{ids[2]}-#{ids[3]}-0-#{ids[5]}-1#{querystr}') 不限
            each tp in types
              if tp.id === +ids[4]
                a.choose-on(href='javascript:;') #{tp.name}
              else
                a(href='/cars/search/3-#{ids[1]}-#{ids[2]}-#{ids[3]}-#{tp.id}-#{ids[5]}-1#{querystr}') #{tp.name}
        dl#categoryLevel.category-list.clearfix
          dt.title 级别：
          dd.category-item
            if ids[5] === '0'
              a.choose-all.choose-on(href='javascript:;') 不限
            else
              a.choose-all(href='/cars/search/3-#{ids[1]}-#{ids[2]}-#{ids[3]}-#{ids[4]}-0-1#{querystr}') 不限
            each level in levels
              if level.id === +ids[5]
                a.choose-on(href='javascript:;') #{level.name}
              else
                a(href='/cars/search/3-#{ids[1]}-#{ids[2]}-#{ids[3]}-#{ids[4]}-#{level.id}-1#{querystr}') #{level.name}
    .content-container.car-search-result
      .content-left
        #car-result.search-result.product-container
          if cars
            ul.list-content
              each car in cars
                li.list-item
                  .figure
                    a(href='/cars/#{car.id}',title='#{car.name}',target='_blank')
                      if car.prompt===1
                        span.recommend-icon
                      img(src='#{car.pic}',alt='#{car.name}')
                    a.car-logo(href='javascript:;',title='#{car.name}')
                      if car.brand
                        img(src='#{car.brand}',alt='#{car.name}')
                    .car-info
                      .info-wrapper
                        a(href='/cars/#{car.id}',title='#{car.name}',target='_blank') 详情
                        a.cus-service(href='javascript:;') 客服
                        if car.url
                          a(href='#{car.url}',target='_blank',title='#{car.company_name}') 官网
                        else
                          a(href='/companies/#{car.company_id}',target='_blank',title='#{car.company_name}') 企业
                      .car-detail
                        ul.detail-list
                          if car.mile
                            li
                              p 纯电续航：
                                span #{car.mile}km
                          if car.max_speed
                            li
                              p 最高时速：
                                span #{car.max_speed}km
                          if car.charge_time
                            li
                              p 充电时间：
                                span #{car.charge_time}h
                          if car.accelerate
                            li
                              p 百公里加速：
                                span #{car.accelerate}s
                  .detail
                    if car.w1===1
                      a.desc(href='/cars/#{car.id}',style='text-indent:26px;',title='#{car.name}',target='_blank') #{car.name}
                        span.hot-icon
                    else
                      a.desc(href='/cars/#{car.id}',title='#{car.name}',target='_blank') #{car.name}
                    .company-detail
                      a.company-name(href='/companies/#{car.company_id}',target='_blank',title='#{car.company_name}') #{car.company_name}
                        if car.vip===1
                          span.approve-icon
                    .msg
                      if car.price
                        p.price ￥#{car.price}万
                      else
                        p.price 暂无价格
                      if car.hot
                        p.view-count 已浏览#{car.hot}
          else
            p 暂无相关车型
        .page-wrapper.clearfix
          if list
            .pagination.clearfix
              if pageinfo.pageNo===1
                span.disabled(href='javascript:;') 上一页
              else
                a(href=pageinfo.pageNo-1) 上一页
              if pageinfo.maxPageNo < 7
                - var n = 1
                while n <= pageinfo.maxPageNo
                  if n===pageinfo.pageNo
                    - var url = '/cars/list/' + n
                    span.current(href=url)= n++
                  else
                    - var url = '/cars/list/' + n
                    a(href=url)= n++     
              else if pageinfo.pageNo <= 3
                - var n = 1
                while n <= 5
                  if n===pageinfo.pageNo
                    - var url = '/cars/list/' + n
                    span.current(href=url)= n++
                  else
                    - var url = '/cars/list/' + n
                    a(href=url)= n++
                a ...
                - var url = '/cars/list/' + pageinfo.maxPageNo
                a(href=url) #{pageinfo.maxPageNo}
              else if pageinfo.pageNo > pageinfo.maxPageNo-2
                a(href='1') 1
                a ...
                - var n = pageinfo.pageNo-2
                while n <= pageinfo.maxPageNo
                  if n===pageinfo.pageNo
                    - var url = '/cars/list/' + n
                    span.current(href=url)= n++
                  else
                    - var url = '/cars/list/' + n
                    a(href=url)= n++        
              else
                a(href='1') 1
                if pageinfo.pageNo > 4
                  a ...
                - var n = pageinfo.pageNo-2
                while n <= pageinfo.pageNo+2
                  if n===pageinfo.pageNo
                    - var url = '/cars/list/' + n
                    span.current(href=url)= n++
                  else
                    - var url = '/cars/list/' + n
                    a(href=url)= n++        
                if pageinfo.pageNo < pageinfo.maxPageNo-3
                  a ...
                if pageinfo.pageNo < pageinfo.maxPageNo-2
                  - var url = '/cars/list/' + pageinfo.maxPageNo
                  a(href=url) #{pageinfo.maxPageNo}
              if pageinfo.pageNo===pageinfo.maxPageNo
                - var url = '/cars/list/' + n
                span.disabled(href='javascript:;') 下一页
              else
                - var url = '/cars/list/' + (pageinfo.pageNo+1)
                a(href=url) 下一页
          else
            .pagination.clearfix
              if pageinfo.pageNo===1
                span.disabled(href='javascript:;') 上一页
              else
                - var url = ids[0] + '-' + ids[1] + '-' + ids[2] + '-' +ids[3] + '-' + ids[4] + '-' + ids[5] + '-' + (pageinfo.pageNo-1) + querystr
                a(href=url) 上一页
              if pageinfo.maxPageNo < 7
                - var n = 1
                while n <= pageinfo.maxPageNo
                  if n===pageinfo.pageNo
                    span.current(href=url)= n++
                  else
                    - var url = ids[0] + '-' + ids[1] + '-' + ids[2] + '-' +ids[3] + '-' + ids[4] + '-' + ids[5] + '-' + n + querystr
                    a(href=url)= n++     
              else if pageinfo.pageNo <= 3
                - var n = 1
                while n <= 5
                  if n===pageinfo.pageNo
                    span.current(href=url)= n++
                  else
                    - var url = ids[0] + '-' + ids[1] + '-' + ids[2] + '-' +ids[3] + '-' + ids[4] + '-' + ids[5] + '-' + n + querystr
                    a(href=url)= n++
                a ...
                - var url = ids[0] + '-' + ids[1] + '-' + ids[2] + '-' +ids[3] + '-' + ids[4] + '-' + ids[5] + '-' + pageinfo.maxPageNo + querystr
                a(href=url) #{pageinfo.maxPageNo}
              else if pageinfo.pageNo > pageinfo.maxPageNo-2
                - var url = ids[0] + '-' + ids[1] + '-' + ids[2] + '-' +ids[3] + '-' + ids[4] + '-' + ids[5] + '-1' + querystr
                a(href=url) 1
                a ...
                - var n = pageinfo.pageNo-2
                while n <= pageinfo.maxPageNo
                  if n===pageinfo.pageNo
                    span.current(href=url)= n++
                  else
                    - var url = ids[0] + '-' + ids[1] + '-' + ids[2] + '-' +ids[3] + '-' + ids[4] + '-' + ids[5] + '-' + n + querystr
                    a(href=url)= n++        
              else
                - var url = ids[0] + '-' + ids[1] + '-' + ids[2] + '-' +ids[3] + '-' + ids[4] + '-' + ids[5] + '-1' + querystr
                a(href=url) 1
                if pageinfo.pageNo > 4
                  a ...
                - var n = pageinfo.pageNo-2
                while n <= pageinfo.pageNo+2
                  if n===pageinfo.pageNo
                    span.current(href=url)= n++
                  else
                    - var url = ids[0] + '-' + ids[1] + '-' + ids[2] + '-' +ids[3] + '-' + ids[4] + '-' + ids[5] + '-' + n + querystr
                    a(href=url)= n++        
                if pageinfo.pageNo < pageinfo.maxPageNo-3
                  a ...
                if pageinfo.pageNo < pageinfo.maxPageNo-2
                  - var url = ids[0] + '-' + ids[1] + '-' + ids[2] + '-' +ids[3] + '-' + ids[4] + '-' + ids[5] + '-' + pageinfo.maxPageNo + querystr
                  a(href=url) #{pageinfo.maxPageNo}
              if pageinfo.pageNo===pageinfo.maxPageNo
                span.disabled(href='javascript:;') 下一页
              else
                - var url = ids[0] + '-' + ids[1] + '-' + ids[2] + '-' +ids[3] + '-' + ids[4] + '-' + ids[5] + '-' + (pageinfo.pageNo+1) + querystr
                a(href=url) 下一页
      .content-right
        #showBar1.show-bar-sm
          mixin bar(bar)
            a(href='/cars/#{bar[0].entity_id}',title='#{bar[0].title}',target='_blank')
              img(src='#{bar[0].pic}',alt='#{bar[0].title}')
          +bar(promo1)
        .info-container
          ul.nav.nav-tabs
            li.active
              a(href='#car-news',data-toggle='tab',title='行业新闻') 行业新闻
            li
              a(href='#policy',data-toggle='tab',title='政策法规') 政策法规
          .tab-content
            #car-news.tab-pane.active
              mixin news(newsdata)
                ul.msg-list
                  each news in newsdata
                    li.side-list-item
                      a(href='/news/#{news.entity_id}.html',title='#{news.title}',target='_blank') #{news.title}
                      span.date #{news.date}
              +news(promo2)
            #policy.tab-pane
              +news(promo3)
        #showBar2.show-bar-sm
          +bar(promo4)
        .info-container
          ul.nav.nav-tabs
            li.active
              a(href='#guide',data-toggle='tab',title='车辆导购') 车辆导购
            li
              a(href='#tips',data-toggle='tab',title='用车贴士') 用车贴士
          .tab-content
            #guide.tab-pane.active
              +news(promo5)
            #tips.tab-pane
              +news(promo6)
        #showBar3.show-bar-sm
          +bar(promo7)

append script
  script(src='http://ev.cpkso.com/js/lib/enter.js')
  script.
    $('#car-search-btn').click(function(){
      var word = $('#car-input').val();
      var url = word ? '/cars/search/0-0-0-0-0-0-1?word=' + word : '/cars/search/0-0-0-0-0-0-1';
      window.location.href = url;
    })
    function entersearch(id){
      var event = window.event || arguments.callee.caller.arguments[0];
      if (event.keyCode == 13 && id === 1) {
        $('#car-search-btn').trigger('click');
      } else if (event.keyCode == 13 && id === 2) {
        $('#part-search-btn').trigger('click');
      }
    }

