doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    block title
      title #{company.name}-产品快搜新能源电动车
      meta(name="keywords", content="#{company.keywords}")
      meta(name="description", content="#{company.description}")
    block meta
      meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
      meta(name="applicable-device", content="pc")
      meta(name="renderer", content="webkit")
      meta(name="baidu-site-verification", content="VUAL7R3a2v")
    block link
      link(rel='stylesheet', href='http://ev.cpkso.com/css/reset.css')
      link(rel='stylesheet', href='http://ev.cpkso.com/css/bootstrap.min.css')
      link(rel='stylesheet', href='http://ev.cpkso.com/css/base.css')
      link(rel='stylesheet', href='http://ev.cpkso.com/css/company.css')
      link(rel='stylesheet', href='http://ev.cpkso.com/css/searchresult.css')
      link(rel="Bookmark", href="#{company.logo}")
      link(rel="Shortcut Icon", href="#{company.logo}")
  body
    include includes/com-header.jade
    block content
    include includes/footer.jade
    block script
      script(src='http://ev.cpkso.com/js/lib/jquery-2.0.0.min.js')
      script(src='http://ev.cpkso.com/js/lib/bootstrap.min.js')
      script.
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?6c4119bd6ed6dca0c77afc24f4b663aa";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
