extends layout

block title
  title= '企业库、新能源电动车整车、配件企业库-产品快搜新能源电动车'
  meta(name="keywords", content="新能源电动车零部件企业,电动汽车零部件厂家,电动汽车零部件供应商,新能源汽车整车企业厂家,新能源电动车厂商")
  meta(name="description", content="产品快搜新能源电动车企业库提供新能源电动汽车生产企业名录,新能源汽车厂商分布,新能源电动车配件厂家，微型电动车厂家,新能源电动车厂家等。")
append link
  link(rel='stylesheet', href="http://ev.cpkso.com/css/index.css")
  link(rel='stylesheet', href="http://ev.cpkso.com/css/companies.css")
block hright
  .header-right
    .search
      input#com-input.search-input(onkeydown="entersearch(3);" type="text" placeholder="请输入企业名称" autocomplete="off" value="#{keyword}")
      a#com-search-btn.search-btn
block content
  .product-head-nav
    ol.breadcrumb
      span.location 当前位置：
      li
        a(href='/',target='_blank') 首页
      li.active 企业库
  .main-body
    #filter.category
      #category.category-list.clearfix
        dt.title 省市：
        if ids[0] === '0'
          a.choose-all.choose-on(href='/companies/search/0-#{ids[1]}-1') 不限
        else
          a.choose-all(href='/companies/search/0-#{ids[1]}-1') 不限
        #firstLetters.brand-ident
          ul
            each province,index in provinces
              - var letter = provinces.letter
              - var upper = province.initial.toUpperCase()
              - var lower = province.initial
              li(class={active: lower===letter || (!letter&&index===0)})
                a(href='#brand'+upper,data-toggle='enter',onclick='return false;')=upper
        #tabcontent.tab-content
          each province,index in provinces
            - var letter = provinces.letter
            - var upper = province.initial.toUpperCase()
            - var lower = province.initial
            .tab-pane.brand-list(id='brand'+upper,class={active: lower===letter || (!letter&&index===0)})
              if province.array
                each pro in province.array
                  if pro.id === +ids[0]
                    a.choose-on(href='javascript:;') #{pro.name}
                  else
                    a(href='/companies/search/#{pro.id}-#{ids[1]}-1#{querystr}') #{pro.name}
      dl.category-list.clearfix
        dt.title 分类：
        dd.category-item
          if ids[1] === '0'
            a.choose-all.choose-on(href='javascript:;') 不限
          else
            a.choose-all(href='/companies/search/#{ids[0]}-0-1#{querystr}') 不限
          if ids[1] === '1'
            a.choose-on(href='javascript:;') 整车
          else
            a(href='/companies/search/#{ids[0]}-1-1#{querystr}') 整车
          if ids[1] === '2'
            a.choose-on(href='javascript:;') 配件
          else
            a(href='/companies/search/#{ids[0]}-2-1#{querystr}') 配件
    .content-container.car-search-result
      .content-left
        if companies
          ul#com-list
            each company in companies
              li.com
                .com-logo
                  a(href='/companies/#{company.id}',title='#{company.name}',target='_blank')
                    if company.logo
                      img(src='#{company.logo}',alt='#{company.name}')
                    else
                      img(src='/img/com-logo.png',alt='#{company.name}')
                .com-detail
                  h4
                    a.title(href='/companies/#{company.id}',title='#{company.name}',target='_blank') #{company.name}
                    if company.vip===1
                      span.approve-icon
                  dl
                    dt.title 企业类型：
                    if company.company_ct==='0'
                      dd 生产型
                    else if company.company_ct==='1'
                      dd 销售型
                    else
                      dd #{company.company_ct}
                    dt.title 注册地址：
                    if company.province
                      dd #{company.province}
                    else
                      dd 暂无信息
                    dt.title 联系人：
                    if company.charge
                      dd #{company.charge}
                    else
                      dd 暂无信息
                  .com-brief
                    span.title 企业简介：
                    span.brief #{company.brief}
                .com-site
                  a(href='/companies/#{company.id}',target='_blank',title='#{company.name}') 进入企业
        else
          p 暂无相关企业
        .page-wrapper
          if list
            .pagination.clearfix
              if pageinfo.pageNo===1
                span.disabled(href='javascript:;') 上一页
              else
                a(href=pageinfo.pageNo-1) 上一页
              if pageinfo.maxPageNo < 7
                - var n = 1
                while n <= pageinfo.maxPageNo
                  if n===pageinfo.pageNo
                    - var url = '/companies/list/' + n
                    span.current(href=url)= n++
                  else
                    - var url = '/companies/list/' + n
                    a(href=url)= n++
              else if pageinfo.pageNo <= 3
                - var n = 1
                while n <= 5
                  if n===pageinfo.pageNo
                    - var url = '/companies/list/' + n
                    span.current(href=url)= n++
                  else
                    - var url = '/companies/list/' + n
                    a(href=url)= n++
                a ...
                - var url = '/companies/list/' + pageinfo.maxPageNo
                a(href=url) #{pageinfo.maxPageNo}
              else if pageinfo.pageNo > pageinfo.maxPageNo-2
                a(href='1') 1
                a ...
                - var n = pageinfo.pageNo-2
                while n <= pageinfo.maxPageNo
                  if n===pageinfo.pageNo
                    - var url = '/companies/list/' + n
                    span.current(href=url)= n++
                  else
                    - var url = '/companies/list/' + n
                    a(href=url)= n++        
              else
                a(href='1') 1
                if pageinfo.pageNo > 4
                  a ...
                - var n = pageinfo.pageNo-2
                while n <= pageinfo.pageNo+2
                  if n===pageinfo.pageNo
                    - var url = '/companies/list/' + n
                    span.current(href=url)= n++
                  else
                    - var url = '/companies/list/' + n
                    a(href=url)= n++        
                if pageinfo.pageNo < pageinfo.maxPageNo-3
                  a ...
                if pageinfo.pageNo < pageinfo.maxPageNo-2
                  - var url = '/companies/list/' + pageinfo.maxPageNo
                  a(href=url) #{pageinfo.maxPageNo}
              if pageinfo.pageNo===pageinfo.maxPageNo
                - var url = '/companies/list/' + n
                span.disabled(href='javascript:;') 下一页
              else
                - var url = '/companies/list/' + (pageinfo.pageNo+1)
                a(href=url) 下一页
          else
            .pagination.clearfix
              if pageinfo.pageNo===1
                span.disabled(href='javascript:;') 上一页
              else
                - var url = keyword ? ids[0] + '-' + ids[1] + '-' + (pageinfo.pageNo-1) + querystr : ids[0] + '-' + ids[1] + '-' + (pageinfo.pageNo-1)
                a(href=url) 上一页
              if pageinfo.maxPageNo < 7
                - var n = 1
                while n <= pageinfo.maxPageNo
                  if n===pageinfo.pageNo
                    span.current(href=url)= n++
                  else
                    - var url = ids[0] + '-' + ids[1] + '-' + n + querystr
                    a(href=url)= n++     
              else if pageinfo.pageNo <= 3
                - var n = 1
                while n <= 5
                  if n===pageinfo.pageNo
                    span.current(href=url)= n++
                  else
                    - var url = ids[0] + '-' + ids[1] + '-' + n + querystr
                    a(href=url)= n++
                a ...
                - var url = ids[0] + '-' + ids[1] + '-' + pageinfo.maxPageNo + querystr
                a(href=url) #{pageinfo.maxPageNo}
              else if pageinfo.pageNo > pageinfo.maxPageNo-2
                - var url = ids[0] + '-' + ids[1] + '-1' + querystr
                a(href=url) 1
                a ...
                - var n = pageinfo.pageNo-2
                while n <= pageinfo.maxPageNo
                  if n===pageinfo.pageNo
                    span.current(href=url)= n++
                  else
                    - var url = ids[0] + '-' + ids[1] + '-' + n + querystr
                    a(href=url)= n++        
              else
                - var url = ids[0] + '-' + ids[1] + '-1' + querystr
                a(href=url) 1
                if pageinfo.pageNo > 4
                  a ...
                - var n = pageinfo.pageNo-2
                while n <= pageinfo.pageNo+2
                  if n===pageinfo.pageNo
                    span.current(href=url)= n++
                  else
                    - var url = ids[0] + '-' + ids[1] + '-' + n + querystr
                    a(href=url)= n++        
                if pageinfo.pageNo < pageinfo.maxPageNo-3
                  a ...
                if pageinfo.pageNo < pageinfo.maxPageNo-2
                  - var url = ids[0] + '-' + ids[1] + '-' + pageinfo.maxPageNo + querystr
                  a(href=url) #{pageinfo.maxPageNo}
              if pageinfo.pageNo===pageinfo.maxPageNo
                span.disabled(href='javascript:;') 下一页
              else
                - var url = ids[0] + '-' + ids[1] + '-' + (pageinfo.pageNo+1) + querystr
                a(href=url) 下一页
      .content-right

append script
  script(src='http://ev.cpkso.com/js/lib/enter.js')
  script.
    $('#com-search-btn').click(function(){
      var word = $('#com-input').val();
      var url = word ? '/companies/search/0-0-1?word=' + word : '/companies/search/0-0-1';
      window.location.href = url;
    })
    function entersearch(id){
      var event = window.event || arguments.callee.caller.arguments[0];
      if (event.keyCode == 13 && id === 3) {
        $('#com-search-btn').trigger('click');
      }
    }

