extends com-layout

append link
  link(rel='stylesheet', href="http://ev.cpkso.com/css/news.css")
  style.
    html,body {
      background-color: #f5f5f5;
    }
    .nav-wrapper {
      background-color: #3e91fb;
    }
    .main-body {
      display: block;
    }
    #sp-products {
      display: block;
      width: 100%;
    }
    #sp-products {
      margin-top: 40px;
      width: 100%;
    }
    .sp-bg {
      background-color: #fff;
    }
    .products section {
      margin-top: 20px;
    }
    .products .com-title {
      position: relative;
      margin: 0;
      padding: 0;
      width: 100%;
      line-height: 45px;
      font-size: 22px;
      text-align: left;
      text-indent: 1em;
      background-color: #3e91fb;
    }
    .products .com-title:after {
      position: absolute;
      top: -6px;
      right: -30px;
      width: 100px;
      height: 100%;
      background: url('../img/triangle.jpg') no-repeat 0 0;
    }
    #sp .search-result {
      margin: 0;
      padding: 20px 40px;
    }
    #sp .product-container .list-item {
      width: 20%;
    }
    #sp .prod {
      display: flex;
      padding: 36px 46px;
    }
    #sp .prod .prod-img {
      flex: 1;
    }
    #sp .prod .prod-img img {
      border: 1px solid #d2d2d2;
    }
    #sp .prod .prod-img img:hover {
      border-color: #db2242;
    }
    #sp .prod .prod-info {
      flex: 2;
    }
    #sp .prod .prod-info .prod-title {
      font-size: 24px;
      color: #000;
    }
    #sp .prod .prod-info .prod-title:hover {
      color: #db2242;
    }
    #sp .prod .prod-info .dl {
      display: flex;
      color: #4f4f4f;
      line-height: 40px;
    }
    #sp .prod .prod-info .dl .dt {
      flex: 1;
    }
    #sp .prod .prod-info .dl .dd {
      flex: 6;
    }
    #aditem .zixun-item {
      margin: 0;
      padding: 16px;
    }
    .span-title {
      margin-top: 0;
      background-color: #3e91fb;
      line-height: 36px;
    }
    .products .cnt {
      margin-top: 20px;
    }
block content
  .banner
    if company.main_pic
      img(src='#{company.main_pic}')
    else
      img(src='http://ev.cpkso.com/img/index.jpg')
  #sp.main-body
    if products
      #sp-products.products
        h4.com-title 热销产品
        #car-result.search-result.product-container.sp-bg
          ul.list-content
            each prod in products
              if prod.type === 1
                - var url = 'http://ev.cpkso.com/cars/' + prod.id
                - var price = '￥' + prod.price + '万'
              if prod.type === 2
                - var url = 'http://ev.cpkso.com/parts/' + prod.id
                - var price = prod.price      
              li.list-item
                .figure
                  a(href=url,target='_blank')
                    if prod.prompt===1
                      span.recommend-icon
                    img(src='#{prod.pic}')
                  a.car-logo(href='javascript:;')
                    if prod.brand
                      img(src='/brandPath/#{prod.brand}')
                .detail
                  if prod.w1===1
                    a.desc(href=url,style='text-indent:26px;',target='_blank') #{prod.name}
                      span.hot-icon
                  else
                    a.desc(href=url,target='_blank') #{prod.name}
                  .company-detail
                    a.company-name #{prod.company_name}
                      if prod.vip===1
                        span.approve-icon
                  .msg
                    if prod.price
                      p.price #{price}
                    else
                      p.price 暂无价格
                    if prod.hot
                      p.view-count 已浏览#{prod.hot}
    .products
      .content-left
        section
          h4.com-title 产品介绍
          if productsS.type === 1
            - var url = 'http://ev.cpkso.com/cars/' + productsS.id
            - var price = '￥' + productsS.price + '万'
          if productsS.type === 2
            - var url = 'http://ev.cpkso.com/parts/' + productsS.id
            - var price = productsS.price      
          .prod.sp-bg
            .prod-img
              a(href=url)
                img(src='#{productsS.pic}',alt='#{productsS.name}')
            .prod-info
              a.prod-title(href=url) #{productsS.name}
              .dl
                .dt 价格：
                .dd=price
              .dl
                .dt 分类：
                .dd #{productsS.category}
              .dl
                .dt 浏览量：
                .dd #{productsS.hot}
        section
          h4.com-title 产品详情
          .sp-bg!= productsS.detail
      .content-right
        section#aditem.right3.sp-bg
          h4.span-title 最新车型
          ul#newslistB.list-unstyled.zixun-item
            each item in productsR
              li
                a(href='/cars/#{item.entity_id}',target='_blank',title='#{item.name}')
                  img(src='#{item.pic}',alt='#{item.name}')
                  span #{item.name}
                  b ￥#{item.price}万
        .cnt.sp-bg
          h4.span-title 联系方式
          p.short-name #{company.shortname}
          dl.cnt-detail
            if company.charge
              dt 联系人：
              dd #{company.charge}
            if company.contact
              dt 联系电话：
              dd #{company.contact}
            if company.qq
              dt QQ：
              dd #{company.qq}

