extends layout

block title
  title 郑州胭脂雪美甲培训学校_郑州美甲培训_郑州美甲学校_美甲化妆培训_美甲半永久培训_郑州美甲培训哪家好
  meta(name="keywords", content="胭脂雪美甲培训,郑州美甲培训,郑州美甲学校,郑州美甲培训学校,美甲培训,美甲学校,郑州美甲化妆培训学校,河南美甲培训,郑州专业美甲培训学校,河南美甲学校,郑州半永久培训学校,纹绣培训,郑州半永久培训,郑州纹绣培训,郑州专业美甲化妆培训")
  meta(name="description", content="河南郑州胭脂雪美妆学院，开设精品美甲，化妆，纹绣专业。专注，专心的教学品质，为您的未来提供保障。小班授课，实战教学，终身免费进修，咨询来电0371-56608987报名优惠中...")
append link
  link(rel="stylesheet", href="http://yzx.cpkso.cn/css/owl.carousel.min.css")
  link(rel="stylesheet", href="http://yzx.cpkso.cn/css/owl.theme.default.min.css")
  link(rel="stylesheet", href="http://yzx.cpkso.cn/css/index.css")
  style.
    .icon {
      width: 1em; height: 1em;
      vertical-align: -0.15em;
      fill: currentColor;
      overflow: hidden;
    }

block content
  .main-body
    #sliders.owl-carousel.owl-theme(style='width: 100%;margin-bottom: 6px;position:relative;')
      each slider in sliders
        .item
          a(href='javascript:;',title='#{slider.title}',target='_blank')
            img(src='#{slider.pic}',style='width:100%',alt='#{slider.title}')
    section.intro
      .section-content
        .content-header
          img(src='/img/intro-title.png')
        .content-body
          .intro-img
            img(src='/img/tower.jpg')
          .intro-container
            h4.intro-title ネイルアートの詳細を理解する
            p.intro-content 在日本，美甲已经司空见惯，当一个新的美甲技术出现的时候，
              br
              日本女生显然没有中国女生那么大的反应，其实美甲在中国是有很大潜力的，
              br
              处于上升阶段，一般模式都是市场化商业化快速消费，很少有人真正的去做事，
              br
              真正的在美业这件事上付出想要攀岩登顶，当然最终我们还是要落俗，
              br
              毕竟还是要服务到一线，需要被消费者肯定，但是我希望以后我们是在做事，
              br
              提高消费者的品味能力，继而更好的通过美甲彰显自己。
    section.banner
      a(href='/team')
        img(src='/img/teacher.jpg')
    section.course
      .section-content
        .content-header
          img(src='/img/advan-title.png')
        .content-body
          .kc
            each course in kc
              a.kc-item(href='/course/rqkb')
                img(src='#{course.pic}' alt='#{course.title}')
          .course-contact.clearfix
            .qrcode
              img(src='/img/qrcode.png')
            .contact-tel-container
              .tel-lg 课程咨询热线：
                span #{contact.tel}
              .info-container.clearfix
                .tel-sm-container
                  span.tel-sm.clearfix #{contact.contact1}
                  span.tel-sm.clearfix #{contact.contact2}
                .info
                  p.address 学院地址： #{contact.address}
                  p.copyright 版权所有： 胭脂雪美甲培训学校 豫ICP证030173号
    section.works
      .section-content
        .content-header
          img(src='/img/works-title.png')
        .zs
          each work in zs
            a.zs-item(href='/aboutus/gsjj')
              img(src='#{work.pic}',alt='#{work.title}')
    section.banner
      img(src='/img/advantage.jpg')
    section.highlights
      .section-content
        .content-header
          img(src='/img/hx-title.png')
        .hx.clearfix
          each figure in hx
            a.hx-item(href='/state/ktyj')
              img(src='#{figure.pic}',alt='#{figure.title}')
              .title #{figure.title}
    section.features
      .section-content
        .content-header
          img(src='/img/fc-title.png')
        .fc
          .fc-sm.clearfix
            each figure,index in fc
              if index<2
                a.fc-item(href='/state/xyhy')
                  img(src='#{figure.pic}',alt='#{figure.title}')
                  .title #{figure.title}
          .fc-lg
            each figure,index in fc
              if index>=2
                a.fc-item(href='/state/xyhy')
                  img(src='#{figure.pic}',alt='#{figure.title}')
                  .title #{figure.title}
  #service
    a.service-img(href="")
      img(src="img/service.png")
    ul.qq-list
      li.qq-item
        a.qq(href="http://wpa.qq.com/msgrd?v=3&uin=1144249330&site=qq&menu=yes",target="_blank")
          svg.icon(aria-hidden="true")
            use(xlink:href="#icon-qq")
          span.name 张老师
      li.qq-item
        a.qq(href="http://wpa.qq.com/msgrd?v=3&uin=1144249330&site=qq&menu=yes",target="_blank")
          svg.icon(aria-hidden="true")
            use(xlink:href="#icon-qq")
          span.name 张老师
      li.qq-item
        a.qq(href="http://wpa.qq.com/msgrd?v=3&uin=1144249330&site=qq&menu=yes",target="_blank")
          svg.icon(aria-hidden="true")
            use(xlink:href="#icon-qq")
          span.name 张老师
      li.qq-item
        a.qq(href="http://wpa.qq.com/msgrd?v=3&uin=1144249330&site=qq&menu=yes",target="_blank")
          svg.icon(aria-hidden="true")
            use(xlink:href="#icon-qq")
          span.name 张老师
    .other-way
      .wechat
        img.wechat-qrcode(src="img/wechat.jpg")
        p 扫描二维码有惊喜
      a.btn.btn-default 留言咨询
append script
  script(src="http://yzx.cpkso.cn/js/lib/owl.carousel.min.js")
  script(src="//at.alicdn.com/t/font_479044_0fdh6o3p9jli8uxr.js")
  script.
    $(function(){
      $('#sliders').owlCarousel({
        items: 1,
        loop: true,
        autoplay: true,
        autoplaySpeed: 100,
        responsive: false
      })
    })
