extends layout

block title
  title= '供求信息、新能源电动车采购信息-产品快搜新能源电动车'
  meta(name="keywords", content="新能源汽车、新能源电动车、低速电动车、低速电动汽车、电动小汽车、四轮电动汽车、电动汽车代理、电动代步车、新能源电动汽车价格、老年电动车、电动车配件厂家、电动车配件大全、电动车配件批发厂家、四轮电动车配件、产品快搜新能源电动车、产品快搜网")
  meta(name="description", content="产品快搜新能源电动车供求信息里有新能源电动汽车产业链企业的采购求购信息汇总,企业可以发布供求信息、有助于企业找到最合适的供应商,采购到满意的产品。")
append link
  link(rel='stylesheet', href="http://ev.cpkso.com/css/index.css")
  link(rel='stylesheet', href="http://ev.cpkso.com/css/needmsg.css")
  link(rel='stylesheet', href="http://ev.cpkso.com/css/style.css")
  link(rel='stylesheet', href="http://ev.cpkso.com/css/searchresult.css")
block content
  .product-head-nav
    ol.breadcrumb
      span.location 当前位置：
      li
        a(href='/') 首页
      li.active 企业库
  .main-body
    #filter.category
      #category.category-list.clearfix
        dt.title 省市：
        if ids[0] === '0'
          a.choose-all.choose-on(href='/infos/search/0-#{ids[1]}-1') 不限
        else
          a.choose-all(href='/infos/search/0-#{ids[1]}-1') 不限
        #firstLetters.brand-ident
          ul
            each province,index in provinces
              - var letter = provinces.letter
              - var upper = province.initial.toUpperCase()
              - var lower = province.initial
              li(class={active: lower===letter || (!letter&&index===0)})
                a(href='#brand'+upper,data-toggle='enter',onclick='return false;') #{province.initial}
        #tabcontent.tab-content
          each province,index in provinces
            - var letter = provinces.letter
            - var upper = province.initial.toUpperCase()
            - var lower = province.initial
            .tab-pane.brand-list(id='brand'+upper,class={active: lower===letter || (!letter&&index===0)})
              if province.array
                each pro in province.array
                  if pro.id === +ids[0]
                    a.choose-on(href='javascript:;') #{pro.name}
                  else
                    a(href='/infos/search/#{pro.id}-#{ids[1]}-1') #{pro.name}
      dl.category-list.clearfix
        dt.title 分类：
        dd.category-item
          if ids[1] === '0'
            a.choose-all.choose-on(href='javascript:;') 不限
          else
            a.choose-all(href='/infos/search/#{ids[0]}-0-1') 不限
          if ids[1] === '1'
            a.choose-on(href='javascript:;') 整车
          else
            a(href='/infos/search/#{ids[0]}-1-1') 整车
          if ids[1] === '2'
            a.choose-on(href='javascript:;') 配件
          else
            a(href='/infos/search/#{ids[0]}-2-1') 配件
    .product-release.clearfix
      .form-wrapper
        form#needForm.form-horizontal(name='needForm' action='http://ev.cpkso.com/admin/require_add' method='post' enctype='multipart/form-data')
          .form-group.clearfix
            label.col-sm-3.control-label(for='pname') 
              span(style='color:red;') * 
              产品名称
            .col-sm-8
              input#pname.form-control(type='text',name='require.title',placeholder='必填')
          .form-group.clearfix
            label.col-sm-3.control-label 产品分类
            .col-sm-4
              select#s_main.form-control(name='require.category.id')
                option(value='1') 整车
                option(value='2') 配件
            .col-sm-4
              select#s_sub.form-control
                option(value="3") 电动乘用车
                option(value="4") 电动客车
                option(value="5") 微型电动车
          .form-group.clearfix
            label.col-sm-3.control-label 选择省市
            .col-sm-4
              select#province.form-control(name='require.province',onChange='getCity(this.options[this.selectedIndex].value)')
                option(value="") -请选择省-
            .col-sm-4
              select#city.form-control(name='require.city')
                option(value='') -请先选择省份-
          .form-group
            label.col-sm-3.control-label 产品图片
            .col-sm-8
              input(type='file',name='pic',data-min-file-count='1',data-max-file-count='1')
          .form-group.clearfix
            label.col-sm-3.control-label 需求说明
            .col-sm-8
              textarea.form-control(name='require.brief',rows='3')
          .form-group.clearfix
            label.col-sm-3.control-label(for='ECalendar_case1') 截止日期
            .col-sm-8
              input.input-text.Wdate(type='text',name='require.expire_date',onclick='WdatePicker()')
          .form-group.clearfix
            label.col-sm-3.control-label 需求数量
            .col-sm-4
              select#s_main.form-control(name='require.buyerType')
                option(value='ENTERPRISE') 企业采购
                option(value='PERSONAL') 个人采购
            .col-sm-4
              input.form-control(type='number',name='require.number',placeholder='填写数量')
          .form-group.clearfix
            label.col-sm-3.control-label 
              span(style='color:red;') * 
              联系人
            .col-sm-8
              input#uname.form-control(type='text',name='require.name',placeholder='必填')
          .form-group.clearfix
            label.col-sm-3.control-label(for='tel') 
              span(style='color:red;') * 
              联系方式
            .col-sm-8
              input#tel.form-control(type='text',name='require.tel',placeholder='必填')
          .form-group.clearfix
            label.col-sm-3.control-label(for='wechat') 微信号
            .col-sm-8
              input#wechat.form-control(type='text',name='require.wechat')
          .form-group.clearfix
            label.col-sm-3.control-label(for='qq') QQ号
            .col-sm-8
              input#qq.form-control(type='text',name='pic')
          .form-group.clearfix
            label.col-sm-3.control-label(for='inputEmail3') 邮箱
            .col-sm-8
              input#inputEmail3.form-control(type='email',name='require.email')
          .form-group.clearfix
            .col-sm-offset-3.col-sm-8
              button.release-btn(type='submit') 发布需求
        img(src='/img/icon/release.png')
      .product-release-list
        ul
          each info in infos
            li.list-item
              a(href='/infos/#{info.id}',title='#{info.title}',target='_blank')
                if info.pic_thumb
                  img(src='#{info.pic_thumb}',alt='#{info.title}')
                else
                  img(src='/img/no.jpg',alt='#{info.title}')
              .product-detail
                a.desc(href='/infos/#{info.id}',title='#{info.title}',target='_blank') #{info.title}
                dl
                  dt 类型：
                  dd #{info.category}
                  dt 采购数量：
                  dd 【#{info.buyerType}】#{info.number}台
                  dt 联系人：
                  dd #{info.name}
                  dt 所在地：
                  dd #{info.city}
                  dt 截止日期：
                  dd #{info.expire_date}
                  a.a_post(href='/infos/#{info.id}',title='点击查看详情') 点击查看详情>>
    .page-wrapper
      if list
        .pagination.clearfix
          if pageinfo.pageNo===1
            span.disabled(href='javascript:;') 上一页
          else
            a(href=pageinfo.pageNo-1) 上一页
          if pageinfo.maxPageNo < 7
            - var n = 1
            while n <= pageinfo.maxPageNo
              if n===pageinfo.pageNo
                - var url = '/infos/list/' + n
                span.current(href=url)= n++
              else
                - var url = '/infos/list/' + n
                a(href=url)= n++     
          else if pageinfo.pageNo <= 3
            - var n = 1
            while n <= 5
              if n===pageinfo.pageNo
                - var url = '/infos/list/' + n
                span.current(href=url)= n++
              else
                - var url = '/infos/list/' + n
                a(href=url)= n++
            a ...
            - var url = '/infos/list/' + pageinfo.maxPageNo
            a(href=url) #{pageinfo.maxPageNo}
          else if pageinfo.pageNo > pageinfo.maxPageNo-2
            a(href='1') 1
            a ...
            - var n = pageinfo.pageNo-2
            while n <= pageinfo.maxPageNo
              if n===pageinfo.pageNo
                - var url = '/infos/list/' + n
                span.current(href=url)= n++
              else
                - var url = '/infos/list/' + n
                a(href=url)= n++        
          else
            a(href='1') 1
            if pageinfo.pageNo > 4
              a ...
            - var n = pageinfo.pageNo-2
            while n <= pageinfo.pageNo+2
              if n===pageinfo.pageNo
                - var url = '/infos/list/' + n
                span.current(href=url)= n++
              else
                - var url = '/infos/list/' + n
                a(href=url)= n++        
            if pageinfo.pageNo < pageinfo.maxPageNo-3
              a ...
            if pageinfo.pageNo < pageinfo.maxPageNo-2
              - var url = '/infos/list/' + pageinfo.maxPageNo
              a(href=url) #{pageinfo.maxPageNo}
          if pageinfo.pageNo===pageinfo.maxPageNo
            - var url = '/infos/list/' + n
            span.disabled(href='javascript:;') 下一页
          else
            - var url = '/infos/list/' + (pageinfo.pageNo+1)
            a(href=url) 下一页
      else
          .pagination.clearfix
            if pageinfo.pageNo===1
              span.disabled(href='javascript:;') 上一页
            else
              - var url = ids[0] + '-' + ids[1] + '-' + (pageinfo.pageNo-1)
              a(href=url) 上一页
            if pageinfo.maxPageNo < 7
              - var n = 1
              while n <= pageinfo.maxPageNo
                if n===pageinfo.pageNo
                  - var url = ids[0] + '-' + ids[1] + '-' + n
                  span.current(href=url)= n++
                else
                  - var url = ids[0] + '-' + ids[1] + '-' + n
                  a(href=url)= n++     
            else if pageinfo.pageNo <= 3
              - var n = 1
              while n <= 5
                if n===pageinfo.pageNo
                  - var url = ids[0] + '-' + ids[1] + '-' + n
                  span.current(href=url)= n++
                else
                  - var url = ids[0] + '-' + ids[1] + '-' + n
                  a(href=url)= n++
              a ...
              - var url = ids[0] + '-' + ids[1] + '-' + pageinfo.maxPageNo
              a(href=url) #{pageinfo.maxPageNo}
            else if pageinfo.pageNo > pageinfo.maxPageNo-2
              - var url = ids[0] + '-' + ids[1] + '-' + 1
              a(href=url) 1
              a ...
              - var n = pageinfo.pageNo-2
              while n <= pageinfo.maxPageNo
                if n===pageinfo.pageNo
                  - var url = ids[0] + '-' + ids[1] + '-' + n
                  span.current(href=url)= n++
                else
                  - var url = ids[0] + '-' + ids[1] + '-' + n
                  a(href=url)= n++        
            else
              - var url = ids[0] + '-' + ids[1] + '-' + 1
              a(href=url) 1
              if pageinfo.pageNo > 4
                a ...
              - var n = pageinfo.pageNo-2
              while n <= pageinfo.pageNo+2
                if n===pageinfo.pageNo
                  - var url = ids[0] + '-' + ids[1] + '-' + n
                  span.current(href=url)= n++
                else
                  - var url = ids[0] + '-' + ids[1] + '-' + n
                  a(href=url)= n++        
              if pageinfo.pageNo < pageinfo.maxPageNo-3
                a ...
              if pageinfo.pageNo < pageinfo.maxPageNo-2
                - var url = ids[0] + '-' + ids[1] + '-' + pageinfo.maxPageNo
                a(href=url) #{pageinfo.maxPageNo}
            if pageinfo.pageNo===pageinfo.maxPageNo
              - var url = ids[0] + '-' + ids[1] + '-' + n
              span.disabled(href='javascript:;') 下一页
            else
              - var url = ids[0] + '-' + ids[1] + '-' + (pageinfo.pageNo+1)
              a(href=url) 下一页
    #bar.ad-bar(style='margin-top:50px;')
      a(href='/cars/#{promo[0].entity_id}',title='#{promo[0].title}')
        img(src='#{promo[0].pic}',alt='#{promo[0].title}')
append script
  script(src='http://ev.cpkso.com/js/lib/jquery.form.js')
  script(src='http://ev.cpkso.com/js/lib/mustache.min.js')
  script(src='http://ev.cpkso.com/js/lib/jquery.validate.js')
  script(src='http://ev.cpkso.com/js/lib/validate-methods.js')
  script(src='http://ev.cpkso.com/js/lib/messages_zh.js')
  script(src='http://ev.cpkso.com/js/lib/enter.js')
  script(src='http://ev.cpkso.com/js/lib/WdatePicker.js')
  script.
    $(document).ready(function() {
      $.ajax({
        type: 'GET',
        url: 'http://ev.cpkso.com/admin/province_list'
      })
      .done(function(data){
        var data = data.response.data;
        var provTpl = "<option value=''>-请选择-</option>{{#Province}}<option value='{{id}}'>{{name}}</option>{{/Province}}"
        var provHtml = Mustache.render(provTpl, data);
        $('#province').html(provHtml);
      })
      $('#needForm').validate({
        rules: {
          "require.title": {
            required: true,
            maxlength: 100
          },
          "require.name": {
            required: true,
            maxlength: 30,
            isChineseChar: true
          },
          "require.province": {
            maxlength: 20
          },
          "require.city": {
            maxlength: 20
          },
          "require.brief": {
            maxlength: 30,
            stringCheck: true
          },
          "require.tel": {
            required: true,
            maxlength: 30,
            isTel: true
          },
          "require.qq": {
            maxlength: 30,
            isQq: true
          },
          "require.wechat": {
            maxlength: 30,
            isDigits: true
          },
          "require.email": {
            maxlength: 40,
            email: true
          },
        },
        messages: {
          "require.title": {
            required: '请输入产品名称',
            maxlength: '长度不能超过100个字符'
          },
          "require.name": {
            required: '请输入联系人',
            maxlength: '长度不能超过30个字符',
            isChineseChar: '请输入中文名称'
          },
          "require.province": {
            maxlength: '长度不能超过20个字符'
          },
          "require.city": {
            maxlength: '长度不能超过20个字符'
          },
          "require.tel": {
            required: '请输入手机号码',
            maxlength: '长度不能超过30个字符',
          },
          "require.qq": {
            maxlength: '长度不能超过30个字符'
          },
          "require.wechat": {
            maxlength: '长度不能超过30个字符'
          },
          "require.email": {
            maxlength: '长度不能超过40个字符'
          },
        },
        submitHandler: function(form) {
          $(form).ajaxSubmit(function(data){
            if (data.response.msg.success) {
              alert('发布成功');
              location.reload(true);
            } else {
              alert('发布失败，请重新发布！')
            }
          });
        }
      })
    })
    $('#s_main').change(function() {
      var s_main = document.getElementById("s_main");
      var s_index = s_main.selectedIndex;
      var s_text = s_main.options[s_index].text;
      var s_value = s_main.options[s_index].value;
      var f_options = $('<option value="3">电动乘用车</option><option value="4">电动客车</option><option value="5">微型电动车</option>');
      var s_options = $('<option value="6">标准件</option><option value="7">辅助件</option><option value="8">车身系统</option><option value="9">电气系统</option><option value="10">转向系统</option><option value="11">底盘系统</option><option value="12">内饰系统</option><option value="13">密封系统</option>');
      var obj = $('#s_sub');
      obj.html("");
      if (s_value == 1) {
        obj.html(f_options);
        f_options.appendTo(obj);
      } else {
        obj.html(s_options);
      }
    })
    function getCity(provId) {
      var url = "http://ev.cpkso.com/admin/city_findByProvince?city.province_id=" + provId;
      $.ajax({
        type: 'GET',
        url: url,
        dataType: 'json'
      })
      .done(function(data){
        var data = data.response;
        var cityTpl = "<option value=''>-请选择-</option>{{#data}}<option value='{{id}}'>{{name}}</option>{{/data}}"
        var cityHtml = Mustache.render(cityTpl, data);
        $('#city').html(cityHtml);
      })
    }
