extends com-layout

block content
  .banner
    img(src='http://ev.cpkso.com/img/intro.png')
  .main-body
    .content-left
      include includes/com-intro.jade
      .com-info
        h4.com-title 公司信息
        dl
          dt 公司名称：
          dd #{company.name}
          if company.business_scope
            dt 主营产品：
            dd #{company.business_scope}
          if company.address
            dt 地址：
            dd #{company.address}
          if company.province
            dt 注册地：
            dd #{company.province}
          if company.company_ct
            dt 公司类型：
            dd #{company.company_ct}
    .content-right
      include includes/com-cnt.jade
