extends layout

block title
  title #{content.title}-新能源电动车新闻网、电动车配件咨询网-产品快搜新能源电动车
  meta(name="keywords", content="#{content.title}-新能源电动车新闻网、电动车配件咨询网")
  meta(name="description", content="#{content.title}-新能源电动车新闻网是产品快搜新能源电动车网旗下新闻资讯频道，汇集了国内外新能源电动车行业市场行情、电动车企业动态、新能源电动车汗液政策法规等各类资讯，为用户提供最新、最全面新能源行业信息及最前沿的新能源电动汽车技术资讯。")
append link
  link(rel='stylesheet', href="http://ev.cpkso.com/css/news.css")
block content
  .main-body
    .products
      .content-left
        .dtheader
          .title #{content.title}
          .info
            span.time 发布于：#{content.publish_time}
            if content.author&&content.author!==1003
              span.source 来源：
                a(href='/companies/#{content.author}',target='_blank') #{content.author_name}
        #newsContent.dtcontent!= content.detail
        .bdsharebuttonbox
          a.bds_more(href="#" data-cmd="more")
          a.bds_qzone(href="#" data-cmd="qzone")
          a.bds_tsina(href="#" data-cmd="tsina")
          a.bds_tqq(href="#" data-cmd="tqq")
          a.bds_renren(href="#" data-cmd="renren")
          a.bds_weixin(href="#" data-cmd="weixin")
      .content-right
        #newsad.right4
          #newsA.ad-item(style='margin-top:20px;')
            a(href='/cars/#{promo1[0].entity_id}',target='_blank',title='#{promo1[0].title}')
              img(src='#{promo1[0].pic}',alt='#{promo1[0].title}')
          .recommendRead
            h4 推荐阅读
          ul#newslist.list-unstyled.zixun-item
            each item in promo2
              li
                a(href='/news/#{item.entity_id}.html',target='_blank',title='#{item.title}')
                  img(src='#{item.pic}',alt='#{item.title}')
                  span #{item.title}
        #aditem.right3
          #newsB.ad-item
            a(href='/cars/#{promo3[0].entity_id}',target='_blank',title='#{promo3[0].title}')
              img(src='#{promo3[0].pic}',alt='#{promo3[0].title}')
          .recommendRead
            h4 最新车型
          ul#newslistB.list-unstyled.zixun-item
            each item in promo4
              li
                a(href='/cars/#{item.entity_id}',target='_blank',title='#{item.title}')
                  img(src='#{item.pic}',alt='#{item.title}')
                  span #{item.title}
                  b ￥#{item.price}万
        #btad.ad-item
          a(href='/cars/#{promo5[0].entity_id}',target='_blank')
            img(src='#{promo5[0].pic}')
append script
  script(src="http://ev.cpkso.com/js/lib/share.js")
  script(src="http://ev.cpkso.com/js/lib/fontsize.js")