header.header
  .header-left
    a(href=domain?'/':'/companies/#{company.id}',target='_blank')
      if company.logo
        img(src='#{company.logo}', alt='logo')
      else
        span.h1 #{company.name}
  if company.contact||company.contact2
    .header-right
      img(src='http://ev.cpkso.com/img/phone-logo.png')
      if company.contact
        span.tel #{company.contact}
      else
        span.tel #{company.contact2}
nav.nav-wrapper
  ul.nav-list
    if domain
      li
        a(href='http://ev.cpkso.com', title='返回主站',target='_blank') 返回主站
      li(class={active:curnav==='company'})
        a(href='/', title='首页',target='_blank') 首页
      li(class={active:curnav==='intro'})
        a(href='/intro', title='公司介绍',target='_blank') 公司介绍
      li(class={active:curnav==='products'})
        a(href='/products', title='供应产品',target='_blank') 供应产品
      li(class={active:curnav==='trend'})
        a(href='/trend', title='公司动态',target='_blank') 公司动态
    else
      li
        a(href='/', title='返回主站',target='_blank') 返回主站
      li(class={active:curnav==='company'})
        a(href='/companies/#{company.id}/', title='首页',target='_blank') 首页
      li(class={active:curnav==='intro'})
        a(href='/companies/#{company.id}/intro', title='公司介绍',target='_blank') 公司介绍
      li(class={active:curnav==='products'})
        a(href='/companies/#{company.id}/products', title='供应产品',target='_blank') 供应产品
      li(class={active:curnav==='trend'})
        a(href='/companies/#{company.id}/trend', title='公司动态',target='_blank') 公司动态
